@model IEnumerable<Bokslutsapp.Models._1930Bank>

@{
    ViewBag.Bilaga = "1";
    ViewBag.Konto = "1930";
    ViewBag.Title = "Bankkonton";
    ViewBag.Company = "Företag AB";
    ViewBag.OrgNr = "556800-5000";
    ViewBag.FiscalYear = "2017-01-01 - 2017-12-31";
    ViewBag.VerNr = "1";

    ViewBag.testsumma = "786503,79";
    ViewBag.testdiff = "0";
    ViewBag.avskiljare = ", ";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!--Sidhuvud-->
<body>
    <div class="content-wrapper">
        @Html.Partial("_header")
    </div>
</body>
</html>

<!--BILAGA-->
<table id="spec" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <!--KONTON-->
        <tr>
            <th width="52%" contenteditable='true'>Benämning</th>
            <th width="5%" contenteditable='true'>Referens</th>
            <th width="10%" contenteditable='true'>Konto</th>
            <th width="14%" contenteditable='true'>Belopp</th>
            <th width="14%">Belopp</th>
        </tr>
    </thead>
        <tbody id="raderBilagaUtanMoms">
            <tr class="mall1">
                <td><input type="text" onchange="raderKontroll('#raderBilagaUtanMoms',10)" /></td>
                <td><input type="text" /></td>
                <td><input type="text" maxlength="4" onchange="kontoValidering(this.value)"/></td>
                <td><input type="text" /></td>
                <td><input type="text" class="beräknKonto" onchange="value = talformat_2dec(this.value)" /></td>
            </tr>  
        </tbody>    
        <tr>
            <td colspan="4"><strong>Summa</strong></td>
            <td><strong><input id="summaBilagaUtanMoms" class="delsummaSpec" type="text" readonly="readonly" /></strong></td>
        </tr>
</table>


<!--Summering av bilaga-->
<div class="content-wrapper">
    @Html.Partial("_bilagasummering")
</div>


<!--Konteringsvy-->
<div class="content-wrapper">
    @Html.Partial("_footer")
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js">
</script>
<script>
    $(document).ready(function () {
        //iterate through each textboxes and add keyup
        //handler to trigger sum event
        var mall = '#raderBilagaUtanMoms';
        rader_init(mall,10);

        $('td').each(function () {
            $(this).keyup(function () {
                $('#summaBilagaUtanMoms').val(talformat_2dec(calcSum('.beräknKonto')));
            });
        });
    });



    function raderKontroll(mall, radAntStart) {
        if ($(mall).find('tr:last input').val() != "") {
            addRad(mall);
        }   
        else if ($(mall).find('tr:last input').val() == "") {
            removeRad(mall, radAntStart);
        } 
    }

    function rader_init(mall,radAntStart) { //Funktion som vid initieringen lägger till 4 rader.
        for (var i = 0; i < (radAntStart-1); i++) {
            addRad(mall);
        }
    }

    function addRad(mall) { //Funktion för att skapa nya konteringsrader
        var klon = $(mall).find('tr:last').clone();
        //var klon = $('.mall1:last').clone();
        klon.find('input[type=text]').val(null);
        return $(mall).append(klon);
        Beräkningsformat(calcSum('.beräknKonto'));
    }

    function removeRad(mall, radAntStart) {
        lastRad = $(mall).find('tr');
        if (lastRad.length > radAntStart) {
           // if (this.each() != "") {
                return $(mall).find('tr:last').remove();
           // }
        }
    }  

</script>


