<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <!--Summarad-->
    <thead>
        <tr>
            <th width="85%"><strong>Totalsumma enligt bilagan</strong></th>
            <td width="15%"><strong><input id="summaEnlBilaga" type="text" readonly="readonly" /></strong></td>
        </tr>
        <tr>
            <th width="85%"><strong>Saldo enligt huvudbok</strong></th>
            <td width="15%"><strong><input id="summaEnlHB" type="text" readonly="readonly" /></strong></td>
        </tr>
        <tr>
            <th width="85%"><strong>Belopp kvar att specificera</strong></th>
            <td width="15%"><strong><input id="summaAttSpecificera" type="text" readonly="readonly" /></strong></td>
        </tr>
    </thead>
</table>

<p align="right">
    <a href="#" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Töm bilaga"></span>
    </a>
    <a href="#" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Klarmarkera bilaga"></span>
    </a>
</p>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script src="~/Scripts/generella.funktioner.js"></script>
<script>
    $(document).ready(function () {
        //iterate through each textboxes and add keyup
        //handler to trigger sum event


        $(this).keyup(function () {
            var sumBilaga = calcSum(Beräkningsformat('.delsummaSpec'));
            var sumHB = 0;
            var sumAttSpec = sumHB - sumBilaga;

            //Set summor
            $('#summaEnlBilaga').val(talformat_2dec(sumBilaga)); //Summering av bilaga
            $('#summaEnlHB').val(talformat_2dec(sumHB)); //Summa enl HB
            $('#summaAttSpecificera').val(talformat_2dec(sumAttSpec)); //Summa att specificera
        });
    });
</script>

