@{
    ViewBag.Bilaga = "1";
    ViewBag.Konto = "2510";
    ViewBag.Title = "Skatteberäkning";
    ViewBag.Company = "Företag AB";
    ViewBag.OrgNr = "556800-5000";
    ViewBag.FiscalYear = "2017-01-01 - 2017-12-31";
    ViewBag.VerNr = "1";

    ViewBag.testsumma = "786503,79";
    ViewBag.testdiff = "0";
    ViewBag.avskiljare = ", ";
    ViewBag.testskatt = "22%";
    ViewBag.testver = "1";
}

<!--KONTERINGSFÄLT-->
    <table id="example" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="2"><strong>Bokföringsorder</strong></th>
                <th colspan="1"><strong>Text:</strong></th>
                <td colspan="5" width="60%" contenteditable='true'><strong></strong></td>
                <th colspan="2" align="center">Vernr</th>
                <th colspan="2">@ViewBag.testver</th>
            </tr>
            <tr>
                <th colspan="2" width="15%">Konto</th>
                <th colspan="6" width="60%">Kontonamn</th>
                <th colspan="1" width="5%">Ks</th>
                <th colspan="1" width="5%">Pr</th>
                <th colspan="2" width="15%">Belopp</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < 4; i++)
            {
                <tr>
                    <td colspan="2" align="left" contenteditable='true'></td>
                    <td colspan="6" align="left" contenteditable='true'></td>
                    <td colspan="1" align="center" contenteditable='true'></td>
                    <td colspan="1" align="center" contenteditable='true'></td>
                    <td colspan="2" align="right" contenteditable='true'></td>
                </tr>
            }
        </tbody>
        <tr>
            <td colspan="10" align="right" contenteditable='false'><strong>Diff</strong></td>
            <td colspan="2" align="right" contenteditable='false'><strong>@ViewBag.testdiff</strong></td>
        </tr>

    </table>
    <p align="right">
        <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Radera bokföringsorder"></span>
        </a>
        <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-menu-left" data-toggle="tooltip" title="Föregående bokning"></span>
        </a>
        <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-menu-right" data-toggle="tooltip" title="Nästa bokning"></span>
        </a>
        <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Registrera bokning"></span>
        </a>
    </p>
