@*<head>
    <script src="jquery-1.11.2.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.scc" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.css" />

    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#DataTable').dataTable();
            var tableTools = new $.fn.dataTable.tableTools(table, {
                'sSwfPath': '//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf'
            });
            $(tableTools.fnContainer()).insertBefore('#DataTable_wrapper')
        });
    </script>
</head>*@

<div style="float:right;">
    <a href="~/Home/Huvudbok" class="btn btn-lg">
        <span class="glyphicon glyphicon-book" data-toggle="tooltip" title="Öppna huvudbok"></span>
    </a>
    <a href="#" class="btn btn-lg">
        <span class="glyphicon glyphicon-cog" data-toggle="tooltip" title="Inställningar"></span>
    </a>
    <a href="#" class="btn btn-lg">
        <span onclick="window.print();return false;" class="glyphicon glyphicon-print" data-toggle="tooltip" title="Skriv ut bilaga"></span>
    </a>
</div>




